cef_user_data
Code - OSS
dconf
discord
gtk-2.0
gtk-3.0
htop
inkscape
kconf_updaterc
kdeglobals
kde.org
mimeapps.list
neofetch
nitrogen
pavucontrol.ini
pulse
QtProject.conf
session
Thunar
xfce4
yay

nvim
